.legends{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    border-radius: 50px;
    margin-top: 20px;
    padding: 20px;
}

.checks{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
}
.checks p{
    margin: 0;
}